.footer-fashion{
    width:100%;
}
.footer-grid{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background:#252525;
}
.title{
    color:rgb(190, 190, 190);
    font-size:25px;
    margin:30px 0;
    font-weight: 600;
}
.margin{
    margin:0 20px;
}

.div-details > h3,
.div-blog >h3,
.div-blog >p{
    color:#888888;
    margin:5px;
}
.div-blog{
    max-width: 20vw;
}
.div-blog >h3{
    font-size:20px;
}
.div-blog > a{
    float: right;
}

.div-details a,
.div-links > a,
.div-blog > a{
    text-decoration: none;
    color:#1EAAB9;
}
.div-links a{
    display:flex;
    padding: 5px 0;
    font-size:15px;
    border-bottom:3px solid #272727
}
.div-form >form > input{
    display:flex;
    margin:10px;
    
}
.input-form{
    background:#2C2C2C;
    padding:5px;
    border:none;
    border-radius:5px;
    width:70%;
    outline: 0;
    color:rgb(194, 194, 194);
    
}
.input-form:focus{
outline: 1px solid #888888;

}
.div-copy{
background:#1A1A1A;
padding:15px 0;
color:#888888;
}
@media (max-width: 735px){
    .footer-grid{
        flex-direction: column;
    }
    .div-details,
    .div-links,
    .div-blog,
    .div-form{
        width:94vw;
        max-width:none;

    }
    .title{
        margin:4vw 0;
    }
    .div-copy{
        width:100%;
    }
}